@media only screen and (max-width: 1200px){
    .textheading{
        font-size: 180% !important;
    }
}

@media only screen and (min-width: 1200px){
    .textline {
        font-size: 120% !important;
    }
}
@media only screen and (max-width: 600px){
    .heading{
        width: 300px !important;
        font-size: 10px !important;
    }
    .textheader{
        font-size: 10px !important;
    }
    
    .container{
        margin-top: 20px !important;
    }
    .textf{
        padding-left: 20px !important;
    }
    .uk-dotnav li:not(:first-child){
        padding-left: 4px !important;
    }
    .uk-dotnav .uk-active a{
        background-color: #FEBB26 !important;
        border-color: transparent;
    }
    .uk-dotnav a{
        background-color: rgba(217, 217, 217, 0.85) !important;
        border: none !important;
        width: 9px !important;
        height: 9px !important;
    }
    .positionline{
        margin-top: 0 !important;
    }
    .slideimg{
        width: 100% !important;
    }
    .line{
        margin-top: 100px !important;
    }
    .art{
        padding-left:30px !important;
    }
    .textf{
        margin-left: 10px !important;
    }
    .glr{
        margin-left: 8px !important;
    }
    .slider{
        width: 10% !important;
    }
    .judul{
        width: 100% !important;
    }
    .upfile {
        
        padding: 10px !important;
    }
    .upfile1{
        padding-bottom: 30px !important;
    }
    .textheading{
        margin-top: 15px !important;
    }
    .texthr{
        margin-top: 50px !important;
    }
    .position {
        margin-top: 10px !important;
    }
    .texthome {
        margin-top: 10px !important;
        font-size: 11px !important; 
    }
    .time{
        font-size: 11px !important;
    }
    #navbar {
        padding: 15px 1px !important;
        height: 80px !important;
    }
    #heading{
        margin-top: -30px !important;
        margin-left: 0 !important;
    }
    #images{
        margin-right: 3px !important;
        width: 50px !important;
    }
    .textnavbar{
        margin-top: 25px !important;
        margin-bottom: 0 !important;
        font-size: 12px !important;
    }
    .responsivehome{
        margin-top: 15px !important;
    }
    .ps-tags{
        font-size: 10px !important
    }
    .headingdetail{
        font-size: 10px;
        margin-bottom: 0;
    }
    .titledetail{
        font-size: 8px;
        margin-top: 5px !important;
    }
    .responsiveakd{
        padding-left: 30px !important;
    }
    .d-b{
        padding-left: 0 !important;
    }
    .restext{
        font-size: 10px !important;
        line-height: 10px !important;
        margin-bottom: 3px !important;
    }
    .positiontext{
        margin-left: 10px !important;
        bottom: 60px !important;
    }
    .iconres{
        width: 40px !important;
        margin-top: 50px !important;
        left: 41% !important;
    }
    .iconresp{
        width: 20px !important;
    }
    .resimgvid{
        width: 60px !important;
        height: 50px !important;
    }
    .padrem{
        padding-left: 10px !important;
    }
    .resimgv{
        width: 300px !important;
    }
    .vidres{
        height: 50px !important
    }
    .reshevid{
        height: 250px !important;
        width: 70px !important;
    }
    .resimg{
        width: 100px !important;
        height: 70px !important;
        padding-bottom: 20px !important;
    }
    .resimg1{
        width:300px !important;
    }
    .textres{
        font-size: 10px !important;
    }
    .padbo{
        padding-bottom: 20px !important;
    }
    .reste{
        font-size: 7px !important;
    }
    .responthum{
        width: 40px !important;
    }
    .responbtn{
        width: 30px !important;
        height: 30px !important;
        border: 1px solid #FEBB26 !important;
    }
    .respontittle{
        font-size: 10px !important;
        line-height: 15px !important;
    }
    .poscenter{
        padding-left: 60px !important;
        padding-right: 60px !important;
    }
    .tittle{
        margin-left: 10px !important;
        padding-top: 40px !important;
    }
    .homeres{
        padding-left: 30px !important;
    }
    .btn-home{
        font-size: 12px !important;
    }
    .imagesresponsive{
        width: 70px!important;
        height: 70px !important;
    }
    .headingberita{
        margin-top: 0 !important;
        font-size: 13px !important;
    }
    .divider{
        margin-top: 0 !important;
    }
    .imghome{
        height: 200px !important;
    }
}